@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --primary-color: #bf324b;
  --primary-hover-color: #a22b40;
  --primary-100: #bf324b;
  --primary-200: #8c2537;
  --primary-300: #591723;

  /* Secondary Colors */
  --secondary-color: #a02a3f;
  --secondary-hover-color: #f8e9ec;
  --secondary-100: #fcd9df;
  --secondary-200: #f99faf;
  --secondary-250: #f495a6;
  --secondary-300: #f6798f;

  /* Grayscale */
  --gray-900: #2e2e2e;
  --gray-800: #474747;
  --gray-700: #616161;
  --gray-600: #7a7a7a;
  --gray-500: #949494;
  --gray-400: #adadad;
  --gray-300: #c7c7c7;
  --gray-200: #e0e0e0;
  --gray-100: #f5f5f5;
  --gray-50: #fafafa;

  /* Additional Colors */
  --white: #ffffff;
  --red: #ff0a0a;
  --cream: #fffcef;
  --blue: #e0f4ff;
  --yellow: #ffcf00;
}

body {
  color: rgb(var(--gray-900));
  background: var(--white);
  overflow-y: scroll;
  -webkit-overflow-scrolling: auto;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-100);
  border-radius: 10px;
  border: 2px solid var(--secondary-100);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-200);
}

.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

/* Typography Styles */
:root {
  /* Title */
  --font-title-xl: 24px bold 135%;
  --font-title-lb: 20px bold 135%;
  --font-title-lm: 20px medium 135%;
  --font-title-mb: 16px bold 135%;
  --font-title-mm: 16px medium 135%;
  --font-title-sb: 12px bold 135%;

  /* Body */
  --font-body-lm: 24px medium 150%;
  --font-body-mm: 16px medium 150%;
  --font-body-sm: 12px medium 150%;

  /* Label */
  --font-label-xlm: 20px medium 150%;
  --font-label-lm: 16px medium 150%;
  --font-label-mb: 12px bold 150%;
  --font-label-mm: 12px medium 150%;
  --font-label-sb: 10px bold 150%;
  --font-label-sm: 10px medium 150%;

  /* Caption */
  --font-caption-lm: 16px medium 150%;
  --font-caption-mm: 12px medium 150%;
  --font-caption-sm: 10px medium 150%;
}
